body main {
    max-width: 100%;
}

.col1 {
    display: flex;
    flex: 1;
    align-items: center;
    text-align: left;
}

.col2 {
    display: flex;
    width: 50%;
}

.uk-section-xsmall {
    padding-top: 20px;
    padding-bottom: 20px
}

.text-color {
    background: linear-gradient(90deg, rgba(240, 27, 27, 1) 25%, rgba(205, 173, 107, 1) 70%, rgba(85, 189, 160, 1) 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.uk-text-center {
    text-align: center !important;
}

.btn-light {
    /* display:block; */
    /* width:100%; */
    height: 50px;
    padding: 0 20px !important;
    background: white !important;
    box-shadow: 0 7px 14px 0 rgba(50, 50, 93, .1), 0 3px 6px 0 rgba(0, 0, 0, .07);
}

div {
    display: block;
}

.upload-container {
    max-width: 90%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.ant-upload-wrapper .ant-upload-drag {
    border-width: 2px !important;
    background: transparent;
}

.ant-upload-wrapper .ant-upload-drag p {
    margin: 0;
}

.upload-container-form {
    /* border: 1px solid #a00; */
    margin: 10px auto;
    font-size: 18px;
    line-height: 1.6em;
    display: block;
    transition: all .3s;
    -webkit-transition: all .3s;
}

.dropzone {
    min-height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.dropzone .btn {
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
    display: inherit;
    border: none;
}

.dropzone button {
    margin-top: auto !important;
}

.choose-button,
.convert-button {
    background-color: #a00;
    color: #fff;
}

.uk-button:hover {
    text-decoration: none;
}

.uk-button-primary:focus,
.uk-button-primary:hover {
    background-color: #0f7ae5;
    color: #fff;
}

.uk-button:not(:disabled) {
    cursor: pointer;
}

.choose-button:hover,
.convert-button:hover {
    background-color: #5e0000;
}

/* .uk-button-primary {
    background-color: #1e87f0;
    color: #fff;
    border: 1px solid transparent;
} */


.uk-button {
    margin: 0;
    border: none;
    overflow: visible;
    font: inherit;
    text-transform: none;
    -webkit-appearance: none;
    border-radius: 0;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 30px;
    vertical-align: middle;
    font-size: .875rem;
    line-height: 38px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .1s ease-in-out;
    transition-property: color, background-color, border-color;
}

.action-bottom {
    margin: 60px
}

/* File List */
.files-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%
}

.file {
    width: 100%;
    max-height: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #d2dee5;
    display: flex;
    align-content: space-around
}

@media only screen and (max-width:767px) {
    .file {
        flex-direction: column
    }
}

.file div {
    margin: auto
}

.file .file-name {
    width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

@media only screen and (max-width:768px) {
    .file .file-name {
        padding: 20px 0 0
    }
}

.file .file-animation {
    width: 50px
}

.file .file-size {
    font-size: x-small;
    margin-top: 60px
}

.file .file-delete {
    cursor: pointer
}

@media only screen and (max-width:479px) {
    .file.file-beta {
        background-size: 30%
    }
}

.file-icon {
    font-family: Arial, Tahoma, sans-serif;
    font-weight: 300;
    display: inline-block;
    width: 24px;
    height: 32px;
    background: #018fef;
    position: relative;
    border-radius: 2px;
    text-align: left;
    -webkit-font-smoothing: antialiased
}

.file-icon:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-bottom-left-radius: 2px;
    border-color: #fff #fff hsla(0, 0%, 100%, .35) hsla(0, 0%, 100%, .35);
    border-style: solid;
    border-width: 5px
}

.file-icon:after {
    display: block;
    content: attr(data-type);
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 10px;
    color: #fff;
    text-transform: lowercase;
    width: 100%;
    padding: 2px;
    white-space: nowrap;
    overflow: hidden
}

.file-icon-xs {
    width: 12px;
    height: 16px;
    border-radius: 2px
}

.file-icon-xs:before {
    border-bottom-left-radius: 1px;
    border-width: 3px
}

.file-icon-xs:after {
    content: "";
    border-bottom: 2px solid hsla(0, 0%, 100%, .45);
    width: auto;
    left: 2px;
    right: 2px;
    bottom: 3px
}

.file-icon-sm {
    width: 18px;
    height: 24px;
    border-radius: 2px
}

.file-icon-sm:before {
    border-bottom-left-radius: 2px;
    border-width: 4px
}

.file-icon-sm:after {
    font-size: 7px;
    padding: 2px
}

.file-icon-lg {
    width: 48px;
    height: 64px;
    border-radius: 3px
}

.file-icon-lg:before {
    border-bottom-left-radius: 2px;
    border-width: 8px
}

.file-icon-lg:after {
    font-size: 16px;
    padding: 4px 6px
}

.file-icon-xl {
    width: 96px;
    height: 128px;
    border-radius: 4px
}

.file-icon-xl:before {
    border-bottom-left-radius: 4px;
    border-width: 16px
}

.file-icon-xl:after {
    font-size: 24px;
    padding: 4px 10px
}

.file-icon[data-type=rar],
.file-icon[data-type=zip] {
    background: #acacac
}

.file-icon[data-type^=doc] {
    background: #307cf1
}

.file-icon[data-type^=xls] {
    background: #0f9d58
}

.file-icon[data-type^=ppt] {
    background: #d24726
}

.file-icon[data-type=pdf] {
    background: #e13d34
}

.file-icon[data-type=txt] {
    background: #5eb533
}

.file-icon[data-type=flac],
.file-icon[data-type=m4a],
.file-icon[data-type=mp3],
.file-icon[data-type=wma] {
    background: #8e44ad
}

.file-icon[data-type=avi],
.file-icon[data-type=mkv],
.file-icon[data-type=mov],
.file-icon[data-type=mp4],
.file-icon[data-type=wmv] {
    background: #7a3ce7
}

.file-icon[data-type=bmp],
.file-icon[data-type=gif],
.file-icon[data-type=jpeg],
.file-icon[data-type=jpg],
.file-icon[data-type=png] {
    background: #f4b400
}

/* Search box */
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 150px !important;
}

.filter-option {
    float: left;
    width: 60%;
}







#wrapper {
    position: relative;
    /*background:#333;*/
    height: 100%;
}

.profile-main-loader {
    left: 50% !important;
    margin-left: -100px;
    position: fixed !important;
    top: 50% !important;
    margin-top: -100px;
    width: 45px;
    z-index: 9000 !important;
}

.profile-main-loader .loader {
    position: relative;
    margin: 0px auto;
    width: 200px;
    height: 200px;
}

.profile-main-loader .loader:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.circular-loader {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    height: 100%;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    width: 100%;
    top: 0;
    left: 0;
    margin: auto;
}

.loader-path {
    stroke-dasharray: 150, 200;
    stroke-dashoffset: -10;
    -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}

@-webkit-keyframes color {
    0% {
        stroke: #70c542;
    }

    40% {
        stroke: #70c542;
    }

    66% {
        stroke: #70c542;
    }

    80%,
    90% {
        stroke: #70c542;
    }
}

@keyframes color {
    0% {
        stroke: #70c542;
    }

    40% {
        stroke: #70c542;
    }

    66% {
        stroke: #70c542;
    }

    80%,
    90% {
        stroke: #70c542;
    }
}

.ant-progress-inner {
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 100px;
}

.ant-progress-bg {
    position: relative;
    background-color: #1677ff;
    border-radius: 100px;
    transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}

.ant-cart-cover img {
    height: 220px;
}

.col-md-4 .ant-layout {
    height: 100%;
}

.row .col-md-4 {
    height: 350px;
}

.row .col-md-4 img {
    height: 100%;
    position: absolute;
    width: 100%;
    object-fit: cover;
}

.row .ant-card-cover {
    position: relative;
    width: 100%;
    height: 190px;
    overflow: hidden;
}

@media only screen and (min-width: 1600px) {
    .row .col-md-4 {
        height: 450px;
    }
   
}