.home__convert{
    padding: 130px 50px 150px;
    width: 100%;
    background-image: url("../../../public/bg.svg");
    background-size: cover;
    margin-top: -96px;

}

@media screen and (max-width: 991px) {
    .home__convert{
        padding: 120px 20px;
    }
}
