body {
  --color1: #61a4bc;
  --color2: #1a132f;
  --aqua3: mediumaquamarine;
  --color4: #bbeff8ce;
  --boxshadow: #e6e1e1ce;
  background-image: url("../public/bg.svg");
  background-size: cover;
}

button.btn-sm.btn.btn-color.mx-5 {
  color: black;
}

.category_post_img img,
.feature-img img {
  width: 100%;
}

.all_post .sidebar_widget .single_sidebar_wiget {
  background-color: #fbf2ee;
  padding: 30px;
  margin-bottom: 30px;
}

.test {
  position: absolute;
  width: 80vw;
  height: 80vw;
  background-color: red;
  top: -20vw;
  left: -20vw;
  border-radius: 200px;
  transform: rotate(45deg);
}

.navbar-brand {
  width: 216px;
  margin: 0px;
  display: flex;
  align-items: center;

}

.logo {
  color: white;
  transition: linear 1s;
  font-family: "Oleo Script", cursive;
}

.logo:hover {
  background: linear-gradient(90deg,
      rgb(247, 64, 207) 0%,
      rgba(11, 113, 172, 0.966) 100%);
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.truncate {
  width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h1.text-color {
  font-weight: 400;
}

h1.text-color span {
  font-weight: 700;
}

.uk-card.uk-card-default.uk-card-hover.uk-card-body.form-section {
  width: 100%;
}

ul.navbar-nav.sp-font.h5 {
  display: flex;
  column-gap: 80px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light::after {
  /* content: ''; */
  background-image: url(https://png.pngtree.com/background/20211217/original/pngtree-noise-texture-abstract-black-gray-white-background-picture-image_1575985.jpg);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  border-radius: 10px;
  background-size: inherit;
  z-index: -1;
  /* opacity: 0.5; */
  background-image: url(https://media.istockphoto.com/id/1317698849/vector/space-starry-backdrop-deep-cosmic-wallpaper-wide-cosmos-with-shining-stars-beautiful.jpg?s=612x612&w=0&k=20&c=ZfgqI_ODv-v9PprIZAMVZ8Jyfo5tRWUERsbjzcLWLiE=);
}

.navbar {
  background: rgb(0, 212, 255);
  /* background: linear-gradient(90deg,
      rgba(0, 212, 255, 1) 11%,
      rgba(100, 209, 78, 1) 98%); */
  position: sticky;
  top: 0px;
  z-index: 2;
  width: 98%;
  margin: 10px auto;
  border-radius: 10px;
}

.headline {
  font-family: "Oleo Script", cursive;
  color: var(--aqua3);
  box-shadow: -1.6px 3px 10px var(--color4);
  border-radius: 0.5em;
  margin-bottom: 3vh;
}

.headline:hover {
  cursor: default;
}

.card {
  border-radius: 1em;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  box-shadow: -1.6px 3px 10px var(--boxshadow);
  z-index: 1;
}

.card:hover {
  transform: scale(1.01);
}

.card-img-top {
  border-radius: 1em 1em 0.1em 0.1em;
}

.page-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-link {
  color: white !important;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
}

.nav-link:hover {
  background: linear-gradient(90deg,
      rgb(247, 64, 207) 0%,
      rgba(11, 113, 172, 0.966) 100%);
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;

  transform: scale(1.03);
}

.navbar-toggler {
  background-color: var(--color1) !important;
}

.btn-color {
  background-color: var(--color1);
  color: white;
}




/* news */

.list-news-subfolder .item-news-common {
  padding-top: 20px;
  margin-top: 20px
}

.list-news-subfolder .item-news-common .title-news {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold
}

.list-news-subfolder .item-news-common .thumb-art {
  width: 260px;
  margin-right: 0;
  float: right;
  margin-left: 40px
}

.list-news-subfolder .item-news-common .description {
  font-size: 14px;
  line-height: 140%;
  color: #4f4f4f !important
}
.infinite-scroll-component {
  overflow-x: hidden !important;
}
.list-news-subfolder .item-news-common.off-thumb .title-news,
.list-news-subfolder .item-news-common.off-thumb .description {
  max-width: 600px
}

.list-news-subfolder .item-news-common:first-of-type {
  margin-top: 0;
  padding-top: 0
}

.list-news-subfolder .item-news-common.thumb-left {
  padding-right: 20px
}

.list-news-subfolder .item-news-common.thumb-left .thumb-art {
  float: left;
  width: 240px;
  margin: 0 20px 0 0
}
.wrapper-24h .col-left-subfolder {
  width: 780px;
  padding-right: 20px
}

.wrapper-24h .col-right-subfolder {
  width: 320px;
  padding-left: 20px
}


.wrapper-24h .list-news-subfolder .item-news-common {
  padding-left: 30px;
  position: relative;
  border-top: none;
  margin-top: 20px;
  padding-top: 20px;
  width: 100%;
}

.wrapper-24h .list-news-subfolder .item-news-common:first-of-type {
  margin-top: 0;
  padding-top: 0
}

.wrapper-24h .list-news-subfolder .item-news-common .title-news {
  font-size: 18px;
  font-weight: 700
}

.wrapper-24h .ant-list-items{
  transform: translateX(12px);
  border-left: 1px solid #e5e5e5;
}

.wrapper-24h .time-count {
  font-size: 14px;
  width: 100%;
  float: left;
  position: relative;
  color: #757575
}
.rc-virtual-list-holder {
  overflow-y: visible!important;
}
.wrapper-24h .time-count:before {
  content: "";
  width: 9px;
  height: 9px;
  background: #9f224e;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: -35px;
  z-index: 1
}

.wrapper-24h .filter-viewmore {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-size: 14px;
  color: #757575;
  position: absolute;
  top: -84px;
  right: 0
}

.wrapper-24h .filter-viewmore .txt-fil {
  margin-right: 5px
}

.wrapper-24h .filter-viewmore .btn_vne {
  height: 32px;
  font-size: 15px;
  color: #757575;
  line-height: 32px;
  padding: 0 10px;
  background: #f7f7f7;
  border-radius: 3px;
  margin-left: 5px
}

.wrapper-24h .filter-viewmore .btn_vne.active {
  background: #9f224e;
  color: #fff
}

.wrapper-24h.wrapper-xemnhieu .list-news-subfolder {
  border-left: none
}

.wrapper-24h.wrapper-xemnhieu .list-news-subfolder .item-news-common {
  padding-left: 0;
  border-top: 1px solid #e5e5e5
}

.wrapper-24h.wrapper-xemnhieu .list-news-subfolder .item-news-common:first-of-type {
  border-top: none
}

.wrapper-24h.wrapper-xemnhieu .list-news-subfolder .item-news-common:first-of-type .title-news {
  color: #9f224e
}

.wrapper-24h.wrapper-hotnews .time-count {
  height: 0;
  font-size: 0;
  margin-bottom: 0
}

.wrapper-24h.wrapper-hotnews .time-count:before {
  top: 9px
}

a:focus {
  outline: 1 !important
}

a {
  color: inherit;
  text-decoration: none;
  outline: 1
}
.thumb-art {
  position: relative;
  margin-right: 10px;
  float: left;
  width: 140px
}

.thumb {
  display: block;
  overflow: hidden;
  height: 0;
  position: relative;
  width: 100%;
  background: #f4f4f4
}

.thumb img {
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%
}


.thumb-5x3 {
  padding-bottom: 60%
}

.thumb-5x2 {
  padding-bottom: 40%
}

.thumb-3x2 {
  padding-bottom: 66.66667%
}

.thumb-16x9 {
  padding-bottom: 56.25%
}

.thumb-1x1 {
  padding-bottom: 100%
}

.thumb-2x3 {
  padding-bottom: 150%
}


.meta-news {
  color: #757575;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400 !important;
  font-family: Arial
}

.meta-news .time-public {
  display: inline-block;
  margin-right: 10px
}

.meta-news .cat {
  display: inline-block;
  margin-right: 10px
}



.item-news-common{
  margin-bottom: 15px;
}

.item-news-common {
  border-bottom: none;
}



