.header{
    height: auto;
    position: relative;
    transition: all .3s linear;
    background: rgba(255,255,255,0.7);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    box-shadow: 0 0 15px #e1e1e1;
}

.header a {
    text-decoration: none;
}

.header .ant-layout{
    background-color: transparent;
    height: 100%;
    padding: 10px 0;
}

.header .ant-layout .ant-row{
      height: 100%;
}

.header__logo{
    display: flex;
    align-items: center;
    font-family: "Oleo Script", cursive;
}

.header__logo a{
    background: -webkit-linear-gradient(#243B55, #141E30);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__logo a h1{
    padding: 0;
    margin: 0;
    font-size: 38px;
}

.header__nav{
    height: 100%;
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
}

.header__nav a{
    color: #141E30;
    line-height: 1;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    padding: 10px 20px;
}

@media screen and (max-width: 1100px) {
    .header__nav a{
        padding: 10px 10px;
    }

    .header__nav{
        column-gap: 10px;
    }

    .header__right::after{
        width: calc(95% + 50px);
    }
}

.header__nav a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 40px;
    height: 1px;
    background-color: #141E30;
    box-shadow: 0 0 7px #898989;
    transition: all .1s linear;
    border-radius: 30px;
    opacity: 0;
    transform: scale(0.5) translateX(-100%);
}

.header__nav a:hover::after, .header__nav .active::after{
    transform: scale(1) translateX(-50%);
    opacity: 1;
    transition: all .1s linear;
}

.header__action{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu_drawer .ant-drawer-body{
   display: block;
}

.menu_drawer .ant-drawer-body a{
    display: block;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    margin: 1px 0;
    color: #141E30;
}

.menu_drawer .ant-drawer-body a:hover, .menu_drawer .ant-drawer-body a.active{
    font-weight: bold;
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    background: linear-gradient(to right, #243B55, #141E30);
    color: white;
    text-decoration: none;
}